<?php
//use yii2\twig;
?>
		
<div class="row g-0">
	<div class="container-content p-0 border border-dark-subtle rounded-top-2 ">
		<div class="container-header d-flex text-bg-primary rounded-top-2 border border-light border-bottom-0" data-bs-theme="dark">
			<h5 class="container-title m-0 p-2 ps-3"><?= $wg->title?></h5><button type="button" data-bs-dismiss="modalXXX" aria-label="Close" class="btn-close ms-auto p-3"></button>
		</div>
		<?= $wg->render('hWidget\hwgRegion\viewContBegin.php.twig') ?>
			